.page-container-random{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
  border: solid 1px #61507f75;
  margin: 1%;
}

.dessert-image-random {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px #61507f;
}

.difficulty-container-random, .time-container-random{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: #61507f;
  margin: 0 5%
}

/* Images */

.macaron1-random {
  width: 20%;
  margin-right: 10%;
}

.macaron2-random {
  width: 47%;
  margin-right: 10%;
}

.macaron3-random {
  width: 70%;
  margin-right: 10%;
}

.macaron4-random {
  width: 95%;
  margin-right: 10%;
}

.chronos-random {
  width: 35%;
}

@media (max-width: 768px) {
  .dessert-image-random{
    width: 100%;
    height: 120px;
  }
  }